<div class="container container-profile">
  <div class="row">
    <div class="col-md-10 col-lg-10 toppad offset-md-2 main-content">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Patryk Biel</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-11 col-lg-11">
              <table class="table table-user-information">
                <tbody>

                <tr>
                  <td class="field-name">Seria i numer dowodu osobistego</td>
                  <td>AUT23912</td>
                </tr>
                <tr>

                  <td class="field-name">Data urodzenia</td>
                  <td>01/24/1988</td>
                </tr>

                <tr>
                  <td class="field-name">Miejsce urodzenia</td>
                  <td>Krynica-Zdrój, Polska</td>
                </tr>

                <tr>
                  <td class="field-name">Płeć</td>
                  <td>Mężczyzna</td>
                </tr>

                <tr>
                  <td class="field-name">Adres zamieszkania</td>
                  <td>Berest 57, 33-380 Krynica - Zdrój</td>
                </tr>

                <tr>
                  <td class="field-name">Telefon komórkowy</td>
                  <td>+48 518 340 777</td>
                </tr>

                <tr>
                  <td class="field-name">E-mail</td>
                  <td>bielu000@o2.pl</td>
                </tr>

                <tr>
                  <td></td>
                  <td><button class="btn btn-info">Edycja</button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>