<div class="container main-content">
  <div class="row">
    <div class="col-md-3">
      <div class='balance-graphic'>
        <div class='balance-value'>
          10 254PLN
        </div>
      </div>
    </div>

    <div class="col-md-4 offset-1">
      <div class="balance-summary">
        Saldo dostępne: 10 254PLN
      </div>
    </div>

    <div class="col-md-3 actions">
      <ul>
        <li><a routerLink="#">Historia</a></li>
        <li><a routerLink="#">Zamów kartę</a></li>
        <li><a routerLink="#">Wykonaj transakcję</a></li>
        <li><a routerLink="#">Zamknij rachunek</a></li>
      </ul>
    </div>

    <div class="col-md-10 col-lg-10 details offset-md-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Szczegóły rachunku</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-11 col-lg-11">
              <table class="table table-user-information">
                <tbody>

                <tr>
                  <td class="field-name">Numer rachunku</td>
                  <td>78 1050 1849 1000 0091 3704 3502</td>
                </tr>
                <tr>

                <tr>
                  <td class="field-name">IBAN</td>
                  <td>PL78 1050 1849 1000 0091 3704 3502</td>
                </tr>
                <tr>

                <tr>
                  <td class="field-name">Nazwa rachunku</td>
                  <td>Konto oszczędnościowe</td>
                </tr>

                <tr>
                  <td class="field-name">Data założenia</td>
                  <td>01/12/2017</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>