.left-navigation {
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    background-color: #213248;
}

.left-nav {
    width: 100%;
}

.left-navigation .container {
    color: white;
    font-weight: bold;
}

.left-navigation .navbar-header {
    padding: 10px;
}

.left-navigation .navbar-header img {
    width: 50px;
}

.left-navigation .app-name {
    font-size: 15pt;
    padding-left: 10px;
}

.left-navigation-elements {
    display: inline-block;
    padding: 0;
    width: 100%;
    color: #637080;
}

.left-navigation-elements li {
    cursor: pointer;
    display: block;
    list-style: none;
    width: 100%;
    padding: 20px;
}

.left-navigation-elements a {
    text-decoration: none;
    color: #637080;
}

.left-navigation-elements li:hover {
    background-color: #0094C9;
    color: white;
}

.left-navigation-elements .material-icons {
    padding-right: 5px;
    padding-top: 3px;
}