<div class="navbar-fixed-left left-navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <img src="assets/banking.ico">
        <span class="app-name">BankingOnline</span>
      </div>
      <nav class="left-nav">
        <ul class="left-navigation-elements">
          <a routerLink="/profile" routerLinkActive="active"><li><i class="material-icons">desktop_windows</i>Pulpit</li></a>
          <a routerLink="/profile" routerLinkActive="active"><li><i class="material-icons">account_box</i>Moje konto</li></a>
          <a routerLink="/accounts" routerLinkActive="active"><li><i class="material-icons">account_balance</i>Rachunki bankowe</li></a>
          <a routerLink="/transaction" routerLinkActive="active"><li><i class="material-icons">account_balance_wallet</i>Transakcje</li></a>
          <a routerLink="/profile" routerLinkActive="active"><li><i class="material-icons">history</i>Historia</li></a>
          <a routerLink="/profile" routerLinkActive="active"><li><i class="material-icons">settings</i>Ustawienia</li></a>
          <a routerLink="/profile" routerLinkActive="active"><li><i class="material-icons">vpn_key</i>Wyloguj</li></a>
        </ul>
      </nav>
    </div>
  </div>
</div>
