<div class="container container-accounts">
  <div class="new">
    <button class="btn btn-primary btn-lg">Otwórz nowy rachunek</button>
  </div>
  <div class="row">
    <div class="col-md-12 offset-1 account" (click)="showDetails(1)">
      <div class="account-preview rounded">
        <div class="number">
          <div class="row">
            <div class="col-md-3"                           >
              <div class="title">Numer konta:</div>
              <div class="title">Nazwa konta:</div>
              <div class="title">Dostępne saldo:</div>
            </div>

            <div class="col-md-7">
              <div>78 1050 1849 1000 0091 3704 3502</div>
              <div>Moje konto oszczędnościowe</div>
              <div>1,570 zł</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 offset-1 account">
      <div class="account-preview rounded">
        <div class="number">
          <div class="row">
            <div class="col-md-3">
              <div class="title">Numer konta:</div>
              <div class="title">Nazwa konta:</div>
              <div class="title">Dostępne saldo:</div>
            </div>

            <div class="col-md-7">
              <div>33 2120 1849 1000 2291 3704 2132</div>
              <div>Konto DIRECT</div>
              <div>15,345zł</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--<span class="title">Numer konta:</span>-->
  <!--<span>78 1050 1849 1000 0091 3704 3502</span>-->
<!--</div>-->

<!--<div class="account-name">-->
  <!--<span class="title">Nazwa konta:</span>-->
  <!--<span>Moje konto oszczędnościowe</span>-->
<!--</div>-->